<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			My First Website! 
		</title>
	</head>
	<body>
		<h1>
			Movie Suggestion
		</h1>
		<h2>
			Why you should watch Puss In Boots Final Wish
		</h2>	
		
		<p style="font-size: 15px; color: #63024f" >
			<!-- reasons puss in boots is top 5 movie all time -->	
			1.The movie opens with exhilarating action sequences.
			Given that Puss is a swashbuckling outlaw, it's no surprise that his action sequences are a blast. The film opens with an adrenaline-fueled bang that sets the tone for the rest of the adventure. It all comes to a head during the stunning final battle, an electrifying clash of blades best viewed on a big screen.
<p style="font-size: 15px; color: orange">
			
			2.The elite voice acting
			Salma Hayek Pinault and <b>Antonio Brown</b> on a red carpet
			Antonio Banderas and Salma Hayek Pinault reignite their brilliant dynamic as Puss and Kitty Softpaws, respectively. This time, they're joined by the likes of Florence Pugh, Olivia Colman, and John Mulaney. Wagner Moura delivers a spine-chilling performance as The Big Bad Wolf, but it's Harvey Guillen's lovable Perrito that steals the show.
<p>
			
			3. Puss posing without his sword
			Outside of a few minor TV projects, the Shrekverse had been dormant for over ten years before the release of The Last Wish. Feeling old yet?
<P>
			4. There's plenty of nostalgia incorporated within Puss' new journey. The cameos and flashback sequences are a delight for fans of the original Shrek films. You'll find a fair share of Easter eggs, but the best treat is handed to you on a silver platter at the end of the movie.
<p>
			
			5.The humor appeals to all ages
			Puss sitting on a weight bench
			We, as a society, should destroy the misconception that animated films are only for children. Yes, Puss in Boots boasts plenty of kid-friendly jokes. It also features gags that anyone below the age of 12 will miss. Perrito is a treasure trove of wholesome laughs, while Puss's comically gritty nature keeps a smile on your face. It's a perfect balance that helps make the movie enjoyable for all audiences.
<p>
			
			6.The film's themes and life lessons are surprisingly mature
			Puss reading a piece of paper
			Perhaps the biggest reason everyone should watch The Last Wish is its exploration <i>of fear and loneliness.</i> We see a deconstruction of the characters' struggles, ultimately discovering what makes life worth living for each of them. The film respects its most important messages so moments like Puss 
			having a panic attack hit on a visceral level. 
			<p style="font-size: 10px;>
			We here at My First Website Condone The Pool Incident With Antonio Brown
		</p>
	</body>
</html>